name: .NET - Ubuntu

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read
  statuses: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.203

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '22'
        
    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Update GitHub status check
      if: always()
      uses: Sibz/github-status-action@v1
      with: 
        authToken: ${{secrets.GITHUB_TOKEN}}
        context: 'Build'
        description: 'The build ${{ job.status == ''success'' && ''passed'' || ''failed'' }}'
        state: ${{ job.status == 'success' && 'success' || 'failure' }}
        sha: ${{ github.event.pull_request.head.sha || github.sha }}
        target_url: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}